.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
}

.homescreen__title {
    font-size: 1.5rem;
    color: #17171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homescreen_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* make the screen responsive by defining the sizes
where the grid shrinks */
@media (max-width: 1232px) {
    .homescreen_products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .homescreen_products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .homescreen_products {
        grid-template-columns: 1fr;
    }
}